<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <h6><a href="{% url 'peace' %}">Log out</a></h6>        
    <h1>Home</h1>
    <h3>{{message}} {{ request.session.first_name }}</h3>    
    <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>                                          
				<th>Date Added</th>
				<th>Actions</th>
            </tr>
        </table>
        {% for user in all_users %}
        <table>
            <tr>
                <td>{{ user.first_name}}</td>           
                <td>{{ user.last_name}}</td>            
                <td>{{ user.username}}</td>                       
                <td>{{ user.created_at}}</td>
				<td><a href="{% url 'delete' number=user.id %}">Delete</a></td>                
			</tr>
			{% empty %}
			<p>no users</p>
			{% endfor %}
        </table>
    
    <h6><a href="{% url 'home' %}">Check out travels</a></h6>        
    
</body>
</html>